*{
  margin: 0;
  padding: 0;
}
body{
  position: relative;
  top: 20px;
}
.text{
position: absolute;
left: 35%;
top: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 45px;
letter-spacing: 0.1px;
color: #000000;
opacity: 0.8;
}
.IMG1{
  position: relative;
  width: 250px;
  height: 506.97px;
  left: 10%;
  top:90px;
}
h2, h3{
  position: relative;
}
h2{
right: -60%;
top: -250px;
}
.Orang{
  color:#FA4A0C;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.1px;
flex: none;
order: 0;
flex-grow: 0;
}
.Black{
width: 560px;
height: 114px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #252B42;
flex: none;
order: 0;
flex-grow: 0;
}
.Grau{
  width: 467px;
height: 76px;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 38px;
letter-spacing: 0.2px;
color: #737373;
flex: none;
order: 0;
flex-grow: 0;
}

h3{
  left: 10%;
}
.IMG2{
  position: relative;
  width: 250px;
  height: 506.97px;
  right: -75%;
  top:-350px;
}